# Clock
NET "Clk" LOC=C9 | IOSTANDARD = LVCMOS33;
NET "Clk" PERIOD=20.0ns HIGH 40%;

# Reset
NET "Reset" LOC=K17 | IOSTANDARD = LVTTL | PULLDOWN;

# Serial Data Tranceiver
NET "RxD" LOC=R7 | IOSTANDARD = LVTTL; 
NET "TxD" LOC=M14 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW; 

# LED
NET "LEDs<0>" LOC=F12 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8; 
NET "LEDs<1>" LOC=E12 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "LEDs<2>" LOC=E11 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8; 
NET "LEDs<3>" LOC=F11 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "LEDs<4>" LOC=C11 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "LEDs<5>" LOC=D11 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "LEDs<6>" LOC=E9 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8; 
NET "LEDs<7>" LOC=F9 | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

